<h1><%= @reservation.user_name  %>様</h1>

<p>この度はご予約いただきありがとうございました。</p>
<p>不明な点は、下記予約担当までご連絡くださいませ。</p>
<br>
<br>
<br>
<p>STAY予約担当 (TEL 090-1234-5678 , Email:sample@sample.com)
<br>受付時間 平日 12:00~21:00, 土日祝 12:00~18:00</p>

