<h1> オーナー 様</h1>

<p>この度はご登録いただきありがとうございました。</p>
<p>担当者の確認が取れ次第、手続きに進ませていただきます。</p>
<p>不明な点は、担当：遠藤までご連絡くださいませ。</p>
<br>
<p>STAY新規施設担当</p>
<p>TEL 090-1234-5678</p>
<p>Email:sample@sample.com</p>
<br>受付時間 平日 12:00~21:00, 土日祝 12:00~18:00</p>