@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";
@import "font-awesome";



// 各要素のスタイルの読み込み
@import "home";
@import "header";
@import "hotels";
@import "reviews";
@import "reservations";
@import "reservation_calendar";

body{
	font-family: "Yu Gothic";
	font-size: 15px;
	color: #696969;
	padding-top: 70px;
}


.table .btn a {
	color: white;
}

p.line{
	border-width: 1px 0px 0px 0px; /* 太さ */
   	border-style: solid; /* 線種 */
   	border-color: #a9a9a9;   /* 線色 */
   	margin: 20px 0 10px;
}