.navbar-brand {
  background: url("/images/logo.jpg") no-repeat left center;
  background-size: contain;
  margin: 1px;
  height: 50px;
  width: 50px;
}

.item img {
	width: 100%;
}


.navbar,
.nav-link {
  background-color: white !important;
  padding: 10px;
}


