<div class="container">
	<div class="row">
		<h3>全てのレビュー</h3>
			<div class="review1">
				<%= render 'partial/review' %>
			</div>
			<button type="button" class="btn btn-default">
				<%= link_to "ホテルページへ", hotel_path(@hotel) unless current_user.admin_flg == true %>
			</button>
	</div>
</div>